/*============================================================*/
/* Variables 
/*============================================================*/

$mkt-myriad: "Myriad Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
$mkt-sans: "Helvetica Neue", Arial, Helvetica, sans-serif;
$mkt-light: #999;
$mkt-med: #666;
$mkt-txt: #333;
$mkt-bc: #ddd;
$mkt-red: #c00;
$mkt-blue: #1c5e9b;
