/*============================================================*/
/* Article Defaults + Header
/*============================================================*/
article.marketing {
  margin-bottom: 3em;
  border-bottom: 1px solid #ddd;
}
article.marketing header.article {
  width: 640px;
  margin-left: 310px;
  text-align: left;
  margin-bottom: 3em;
}
article.marketing header.article h1 {
  line-height: 1.25em;
  margin: 0;
}
article.marketing header.article p {
  color: #666;
  font: 1.25em/1.5 Myriad Pro;
  margin: 0;
}
article.marketing header.article .meta {
  margin-left: -296px;
  margin-top: 0.5em;
  font: 1.25em/1.5 Myriad Pro;
  color: #666;
  float: left;
  list-style: none;
}
article.marketing header.article .meta a {
  color: #333;
}
article.marketing header.article .meta a:hover {
  color: #c00;
}

/*============================================================*/
/* Article Body
/*============================================================*/

article.marketing .body {
  width: 640px;
  margin-left: 310px;
  margin-bottom: 3em;
}
article.marketing .body h2,
article.marketing .body h3 {
  font: 1.5em/1.5 Myriad Pro;
  font-weight: bold;
  margin: 1.5em 0 .75em;
}

article.marketing .body p.intro {
  font: 1.5em/1.5 Myriad Pro;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.5em;
}

/*============================================================*/
/* Article Lists
/*============================================================*/

article.marketing .body ul,
article.marketing .body ol {
  padding-left: 2.5em;
  margin: 0 0 1.5em;
}
article.marketing .body ul li,
article.marketing .body ol li {
  margin: 0 0 .5em;
}
article.marketing ol {
  list-style: decimal;
}
article.marketing ul {
  list-style: disc;
}

/*============================================================*/
/* Article Blockquote/Images
/*============================================================*/

article.marketing .body .image {
  margin-bottom: 1.5em;
}

article.marketing .body .image.image-950 {
  margin-left: -310px;
}
article.marketing .body .float-left {
  margin-left: -310px;
  float: left;
  margin-right: 1.5em;
}
article.marketing .body .float-right {
  float: right;
  margin-left: 1.5em;
}
article.marketing .body .image p {
  font: .75em/1.5 sans-serif;
  margin: 0;
}

article.marketing .body blockquote {
  border: 1px solid #ddd;
  padding: 1em 1.5em 1.5em;
  margin: 0 0 1.5em;
}
article.marketing .body blockquote p {
  font: 1.25em/1.5 Myriad Pro;
}
article.marketing .body blockquote p:before {content:"\201C"}
article.marketing .body blockquote p:after {content:"\201D"}
article.marketing .body cite {
  font-style: normal;
}
article.marketing .body cite .image {
  float: left;
  width: 48px;
  height: 48px;
  background: #fff;
  margin: 0 .75em 0 0;
}
article.marketing .body cite .text span{
  display: block;
}
article.marketing .body cite .text .name {
  color: #c00;
  font-weight: bold;
}
article.marketing .body cite .text .title {
  color: #666;
}

/*============================================================*/
/* Article Sidebar
/*============================================================*/

aside.marketing {
  float: left;
  width: 240px;
}

aside.marketing section,
aside.marketing .block {
  font: 14px/1.5 sans-serif;
  width: 240px;
  margin: 0 0 3em;
}
aside.marketing section {
  border-top: 3px solid #333;
}

aside.marketing section img,
aside.marketing .block img {
  vertical-align: top;
}
aside.marketing section header {
  border: 1px solid #ddd;
  border-top: none;
  padding: .875em 1em;
}
aside.marketing section header h4 {
  font: bold 14px/1.25 sans-serif;
}
aside.marketing .content  {
  border: 1px solid #ddd;
  border-top: none;
  padding: .75em 0;
}
aside.marketing .content ul {
  padding: 0;
  margin: 0;
}
aside.marketing .content li {
  margin: 0;
  list-style: none;
}
aside.marketing .content li.padding {
  padding: .3725em 1em;
}
aside.marketing .content li a {
  display: block;
  padding: .3725em 1em;
  line-height: 1.25em;
}
aside.marketing .content li a:hover {
  text-decoration: underline;
}
aside.marketing .content li a.active {
  background: #1c5e9b;
  color: #fff;
  font-weight: bold;
  text-shadow: rgba(0,0,0,0.5) 0 0 5px;
  background-color: #0069cc;
  background-image: linear-gradient(top, #0084ff,#004f99);
  background-image: -o-linear-gradient(top, #0084ff, #004f99);
  background-image: -moz-linear-gradient(top, #0084ff, #004f99);
  background-image: -webkit-linear-gradient(top, #0084ff, #004f99);
  background-image: -ms-linear-gradient(top, #0084ff, #004f99);
  border: 1px solid #1c5e9b;
  box-shadow: inset rgba(255,255,255,0.75) 0 0 1px,rgba(255,255,255,0.08) 0 1px 0;
  cursor: default;

}
aside.marketing .content li a.active:hover {
  text-decoration: none;
}

body.casestudy aside.marketing .content li {
  padding: .3725em 1em;
  list-style: none;
}
body.casestudy aside.marketing .content li a {
  display: inline;
  padding: 0;
  line-height: auto;
}

/*============================================================*/
/* Article #mkt-subscribe sidebar box
/*============================================================*/

aside.marketing section#mkt-subscribe {
  border-color: #c00;
}
aside.marketing section#mkt-subscribe h4 {
  font-size: 16px;
  font: 18px/1.25 Myriad Pro;
}
aside.marketing section#mkt-subscribe .content {
  padding: 1.25em;
}

/*============================================================*/
/* Article #mkt-social 
/*============================================================*/

aside.marketing section#mkt-social .content {
  padding: 1em 7px .5em;
}
aside.marketing section#mkt-social .content ul {
  padding: 0;
}
aside.marketing section#mkt-social .content li {
  width: 56px;
  float: left;
  padding: 0;
  text-align: center;
}

aside.marketing section#mkt-social .content li a {
  display: inline;
  padding: 0;
}
aside.marketing section#mkt-social .content li a:hover .label {
  color: #c00;
}
aside.marketing section#mkt-social .content li a .label {
  font-size: 11px;
  color: #666;
  text-align: center;
}

/*============================================================*/
/* Article #mkt-share 
/*============================================================*/

aside.marketing section#mkt-share .content li {
  line-height: 24px;
  padding: 0;
}
aside.marketing section#mkt-share .content li .logo {
  display: inline-block;
  padding-right: .25em;
}

/*============================================================*/
/* Article bio
/*============================================================*/

article.marketing .bio-bottom {
  border: 1px solid #ddd;
  padding: 1.5em;
  background: rgba(0,0,0,0.04);
  margin: 3em 0;
  font: 1.25em/1.5 Myriad Pro;
}
article.marketing .bio-bottom img {
  float: left;
  margin-right: 1.0em;
  padding: 5px;
  background: #fff;
  border: 1px solid #ddd;
}
article.marketing .bio-bottom a {
  font-weight: bold;
}

/*============================================================*/
/* Article Sidebar Adjusted
/*============================================================*/

body.blog aside.marketing {
  margin: 130px 0 0 0;
}
body.casestudy aside {
  margin-left: -310px;
}
