/*============================================================*/
/* Article Defaults + Header
/*============================================================*/

article.marketing {
}
article.marketing header.article {
  width: 640px;
  margin-left: 310px;
  text-align: left;
  margin-bottom: 3em;
}
article.marketing header.article h1 {
  font: 2.5em/1.25 Myriad Pro;
  margin: 0;
}
article.marketing header.article p {
  color: #999;
  font: 1.25em/1.5 Myriad Pro;
  margin: 0;
}
article.marketing header.article .meta {
  margin-left: -296px;
  margin-top: 0.5em;
  font: 1.25em/1.5 Myriad Pro;
  color: #666;
  float: left;
  list-style: none;
}
article.marketing header.article .meta a {
  color: #333;
}
article.marketing header.article .meta a:hover {
  color: #c00;
}

/*============================================================*/
/* Case Study Header
/*============================================================*/
article.marketing header.article.article-image.section {
  position: relative;
  width: 950px;
  height: 420px;
  margin: 0 0 3em;
  text-align: left;
}
article.marketing header.article.article-image.section .titles {
  position: absolute;
  top: 140px;
  left: 0;
  width: 950px;
}
article.marketing header.article.article-image.section h1,
article.marketing header.article.article-image.section h2 {
  display: inline-block;
  font-weight: normal;
  background: #000;
  background: hsla(0,0%,0%,.75);
  color: #fff;
  margin: 0;
}
article.marketing header.article.article-image.section h2 {
  font: 1.25em/1.25 Myriad Pro;
  color: #999;
  padding: 16px 24px 0;
}
article.marketing header.article.article-image.section h1 {
  font: 3em/1.25 Myriad Pro;
  font-size: 2em;
  padding: 16px 24px;
}
article.marketing header.article.article-image.section img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*============================================================*/
/* Article Body
/*============================================================*/

article.marketing .body {
  width: 640px;
  margin-left: 310px;
  margin-bottom: 3em;
}
article.marketing .body h2,
article.marketing .body h3 {
  font: 1.5em/1.5 Myriad Pro;
  font-weight: bold;
  margin: 1.5em 0 .75em;
}

article.marketing .body p.intro {
  font: 1.5em/1.5 Myriad Pro;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.5em;
}

/*============================================================*/
/* Article Lists
/*============================================================*/

article.marketing .body ul,
article.marketing .body ol {
  padding-left: 2.5em;
  margin: 0 0 1.5em;
}
article.marketing .body ul li,
article.marketing .body ol li {
  margin: 0 0 .5em;
}
article.marketing ol {
  list-style: decimal;
}
article.marketing ul {
  list-style: disc;
}

/*============================================================*/
/* Article Blockquote/Images
/*============================================================*/

article.marketing .body .image {
  margin-bottom: 1.5em;
}

article.marketing .body .image.image-header {
  margin-left: -310px;
}
article.marketing .body .float-left {
  margin-left: -310px;
  float: left;
  margin-right: 1.5em;
}
article.marketing .body .float-right {
  float: right;
  margin-left: 1.5em;
}
article.marketing .body .image p {
  font: .75em/1.5 sans-serif;
  margin: 0;
}

article.marketing .body blockquote {
  border: 1px solid #ddd;
  padding: 1em 1.5em 1.5em;
  margin: 0 0 1.5em;
}
article.marketing .body blockquote.noattrib p {
  margin: 0;
}
article.marketing .body blockquote p {
  font: 1.25em/1.5 Myriad Pro;
}
article.marketing .body blockquote p:before {content:"\201C"}
article.marketing .body blockquote p:after {content:"\201D"}
article.marketing .body cite {
  font-style: normal;
}
article.marketing .body cite .image {
  float: left;
  width: 48px;
  height: 48px;
  background: #fff;
  margin: 0 .75em 0 0;
}
article.marketing .body cite .text span{
  display: block;
}
article.marketing .body cite .text .name {
  color: #c00;
  font-weight: bold;
}
article.marketing .body cite .text .title {
  color: #666;
}

/*============================================================*/
/* Article Sidebar
/*============================================================*/

aside.marketing {
  float: left;
  width: 240px;
}

aside.marketing section {
  font: 14px/1.5 sans-serif;
  width: 240px;
  margin: 0 0 3em;
}
aside.marketing section {
  border-top: 3px solid #333;
}

aside.marketing section img {
  vertical-align: top;
}
aside.marketing section header {
  border: 1px solid #ddd;
  border-top: none;
  padding: .875em 1em;
}
aside.marketing section header h4 {
  font: bold 14px/1.25 sans-serif;
}
aside.marketing .content  {
  border: 1px solid #ddd;
  border-top: none;
  padding: .75em 0;
}
aside.marketing .content ul {
  padding: 0;
  margin: 0;
}

aside.marketing .content li {
  margin: 0;
  list-style: none;
}
aside.marketing .content li.padding {
  padding: .3725em 1em;
}
aside.marketing .content li a {
  display: block;
  padding: .3725em 1em;
  line-height: 1.25em;
}

aside.marketing .content ul ul li a{
  padding-left: 2em
}
aside.marketing .content li a.active {
  background: #1c5e9b;
  color: #fff;
  font-weight: bold;
  text-shadow: rgba(0,0,0,0.5) 0 0 5px;
  background-color: #0069cc;
  background-image: linear-gradient(top, #0084ff,#004f99);
  background-image: -o-linear-gradient(top, #0084ff, #004f99);
  background-image: -moz-linear-gradient(top, #0084ff, #004f99);
  background-image: -webkit-linear-gradient(top, #0084ff, #004f99);
  background-image: -ms-linear-gradient(top, #0084ff, #004f99);
  border: 1px solid #1c5e9b;
  box-shadow: inset rgba(255,255,255,0.75) 0 0 1px,rgba(255,255,255,0.08) 0 1px 0;
  cursor: default;

}
aside.marketing .content li a.active:hover {
  text-decoration: none;
}

body.casestudy aside.marketing .content li {
  padding: .3725em 1em;
  list-style: none;
}
body.casestudy aside.marketing .content li a {
  display: inline;
  padding: 0;
  line-height: auto;
}

/*============================================================*/
/* Article #mkt-subscribe sidebar box
/*============================================================*/

aside.marketing section#mkt-subscribe {
  border-color: #c00;
  border: 3px solid #c00;
}
aside.marketing section#mkt-subscribe h4 {
  font: 28px/1.25 Myriad Pro;
}
aside.marketing section#mkt-subscribe h4 strong {
  letter-spacing: -1px;
}
aside.marketing section#mkt-subscribe .content {
  padding: 1.25em;
  border: none;
}
aside.marketing section#mkt-subscribe .content label {
  display: block;
  margin: 0 0 1em;
}

/*============================================================*/
/* Article #mkt-social 
/*============================================================*/

aside.marketing section#mkt-social .content {
  padding: 1em 7px;
}
aside.marketing section#mkt-social .content ul {
  padding: 0;
}
aside.marketing section#mkt-social .content li {
  width: 56px;
  float: left;
  padding: 0;
  text-align: center;
}

aside.marketing section#mkt-social .content li a {
  text-decoration: none;
  display: inline;
  padding: 0;
}
aside.marketing section#mkt-social .content li a .logo {
  display: inline-block;
  margin: 0 0 .5em;
}
aside.marketing section#mkt-social .content li a:hover .label {
  color: #c00;
  text-decoration: none;
}
aside.marketing section#mkt-social .content li a:hover .label.num {
  text-decoration: none;
  border-color: #c00;
}
aside.marketing section#mkt-social .content li a .label {
  color: #666;
  font: 11px/1.5 sans-serif;
  text-align: center;
  display: block;
  margin: 0 0 .5em;
}
aside.marketing section#mkt-social .content li a .label.num {
  font-size: 10px;
  border: 1px solid #ddd;
  line-height: 2em;
  margin: 0 4px;
}

/*============================================================*/
/* Article #idt-signup 
/*============================================================*/

section#idt-signup header {
  padding-bottom: 0;
}
section#idt-signup h4 {
  font: 18px/1.25 Myriad Pro;
}
section#idt-signup h4 strong {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -1px;
}
section#idt-signup .content {
  padding: 1em;
}

/*============================================================*/
/* Article next and previous
/*============================================================*/

ul#article-nav {
  list-style: none;
  padding: 0;
  margin: 4.5em 0 0;
  border: 1px solid #ddd;
  border-top: 3px solid #333;
}

ul#article-nav li {
  float: left;
  width: 319px;
  margin: 0;
}
ul#article-nav li.prev {
  border-right: 1px solid #ddd;
}
ul#article-nav li.next {
  text-align: right;
}
ul#article-nav li a {
  display: block;
  width: 319px;
  padding: 1em;
}
ul#article-nav li.prev a {
  padding-right: 2em;
}
ul#article-nav li.next a {
  padding-left: 2em;
}
ul#article-nav li a p {
  margin: 0;
}
ul#article-nav li a .label {
  color: #666;
  margin: 0 0 .75em;
  font-size: 75%;
}
ul#article-nav li a .title {
  font: 1.25em/1.25 Myriad Pro;
}


/*============================================================*/
/* Article #mkt-share 
/*============================================================*/

ul#mkt-share  {
  border-top: 3px solid #333;
  border-bottom: 1px solid #ddd;
  list-style: none;
  padding-left: 0;
  margin: 3em 0 0;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

ul#mkt-share li {
  float: left;
  width: 159px;
  line-height: 24px;
  border-left: 1px solid #ddd;
  text-align: center;
  font-size: 75%;
  padding: 1.5em 0 .5em;
  margin: 0;
}
ul#mkt-share li .logo {
  display: block;
}

/*============================================================*/
/* Article bio
/*============================================================*/

article.marketing .bio-bottom {
  border: 1px solid #ddd;
  padding: 1.5em;
  background: rgba(0,0,0,0.04);
  margin: 3em 0;
}
article.marketing .bio-bottom img {
  float: left;
  margin-right: 1.0em;
  padding: 5px;
  background: #fff;
  border: 1px solid #ddd;
}

/*============================================================*/
/* Article Sidebar Adjusted
/*============================================================*/

body.blog aside.marketing {
}
body.casestudy aside {
  margin-left: -310px;
}
