article.marketing {
  margin-bottom: 3em;
  border-bottom: 1px solid #ddd;
}
article.marketing header.article {
  width: 640px;
  margin-left: 320px;
  text-align: left;
  margin-bottom: 3em;
}
article.marketing header.article h1 {
  line-height: 1.25em;
}
article.marketing header.article p {
  margin-left: -320px;
  font: 16px/3.125 sans-serif;
  float: left;
}

article.marketing .body {
  width: 640px;
  margin-left: 320px;
}
article.marketing .body h2 {
  font: 1.5em/1.5 Myriad Pro;
  font-weight: bold;
  margin: 2em 0 .75em;
}

article.marketing .body p.intro {
  font: 1.5em/1.5 Myriad Pro;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.5em;
}

article.marketing .body .image {
  margin-bottom: 1.5em;
}

article.marketing .body .image.image-960 {
  margin-left: -320px;
}
article.marketing .body .float-left {
  margin-left: -320px;
  float: left;
  margin-right: 1.5em;
}
article.marketing .body .float-right {
  float: right;
  margin-left: 1.5em;
}
article.marketing .body .image p {
  font: .75em/1.5 sans-serif;
  margin: 0;
}
article.marketing .body blockquote {
  border: 1px solid #ddd;
  padding: 1em 1.5em 1.5em;
  margin: 0 0 1.5em;
}
article.marketing .body blockquote p {
  font: 1.25em/1.5 Myriad Pro;
}
article.marketing .body blockquote p:before {content:"\201C"}
article.marketing .body blockquote p:after {content:"\201D"}
article.marketing .body cite {
  font-style: normal;
}
article.marketing .body cite .image {
  float: left;
  width: 48px;
  height: 48px;
  background: #fff;
  margin: 0 .75em 0 0;
}
article.marketing .body cite .text span{
  display: block;
}
article.marketing .body cite .text .name {
  color: #c00;
  font-weight: bold;
}
article.marketing .body cite .text .title {
  color: #666;
}
article.marketing .body #company-profile {
  width: 240px;
  float: left;
  margin-left: -320px;
  font: 14px/1.5 sans-serif;
  border-top: 3px solid #333;
}
article.marketing .body #company-profile header {
  border: 1px solid #ddd;
  border-top: none;
  padding: 0 1em;
}
article.marketing .body #company-profile header h3 {
  font: bold 14px/3 sans-serif;
}

article.marketing .body #company-profile .content  {
  border: 1px solid #ddd;
  border-top: none;
  padding: .75em 1em;
}
article.marketing .body #company-profile .content ul {
}
article.marketing .body #company-profile .content li {
  margin: 0 0 .5em;
  list-style: none;
}

